<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453379667443-hvm76894j5rm2k6pnogddpe1dvtmnhsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453379667443-hvm76894j5rm2k6pnogddpe1dvtmnhsg</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Cjt6uFVNeS-xuM3F1mZV1TIsA1eD2oY</string>
	<key>GCM_SENDER_ID</key>
	<string>453379667443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taejeong.SpecialTheater</string>
	<key>PROJECT_ID</key>
	<string>specialtheater-fb5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>specialtheater-fb5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453379667443:ios:91f6e75227b694cc940e86</string>
	<key>DATABASE_URL</key>
	<string>https://specialtheater-fb5b4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>