<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071718694518-hnafoj46a13knmo2pq3ckjn3p9cra6t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071718694518-hnafoj46a13knmo2pq3ckjn3p9cra6t2</string>
	<key>API_KEY</key>
	<string>AIzaSyAQv2_OLuOQmVRcX_x6SLEJgXiUrcL0Bmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1071718694518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taejeong.SpecialTheater</string>
	<key>PROJECT_ID</key>
	<string>specialtheater-9463a</string>
	<key>STORAGE_BUCKET</key>
	<string>specialtheater-9463a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071718694518:ios:c38ddb38d54a77b7aaa957</string>
</dict>
</plist>